*~
*.o
*.a
*.exe
*.elf
*.asc
*.bin
*.bit
*.json
*.svf
*.timings
*_out.config
*.000
*.hex
*.vvp
*.dfu
*.rpt
*.blif
*.list
FemtoRV/FIRMWARE/firmware.txt
FemtoRV/FIRMWARE/TOOLCHAIN/
FemtoRV/FIRMWARE/TOOLS/firmware_words
FemtoRV/RTL/CONFIGS/my_config.v
FemtoRV/femtosoc.txt
FemtoRV/FIRMWARE/config.mk
FemtoRV/TOOLS/environment.yml
FemtoRV/TOOLS/requirements.txt
*.png
*.bak
db/
simulation/
incremental_db/
*.sof
*.rpt
*.summary
*.done
*.jdi
*.qdf
*.cdf
*.pin
*.pof
*.qws
*.log
*.chg
output_files/
/.sopc_builder
/sopc_builder_log.txt
/nios_system_log.txt
*.html
*.bsf
*.ptf.*
/.metadata
*.elf
*.map
*.objdump
obj
*.swp
*.a
nios_workspace
*.flock
*.smsg
*.sld
FemtoRV/BOARDS/de10nano/c5_pin_model_dump.txt
